.infoBlock__carouselBox4{
  margin: auto;
  display: flex;
  flex-direction: row;
  height: 1200px;
  justify-content: space-between;
  align-items: center;
 /* max-width: 80%;*/
  background-color: #bad9c7;
}

.infoBlock__carouselBox__titl4{
  display:flex ;
text-align: center;
justify-content: center;
flex-direction: column;
background-color: #bad9c7;
color: #2b362a;
}

.infoBlock__carouselBox__block4{
 display: flex;
 flex-direction: column;
 justify-content: flex-start;
 align-items: center ;
 width: 440px;
 height: 700px;
 overflow: hidden;
 border-radius: 10px;
 border: 2px solid red;

}
.infoBlock__carouselBox__block--img4{
height: 550px;
background-color: #ffff;
overflow: hidden;
width: 100%;
/*border-radius: 20px;*/
width:auto; 

}
.infoBlock__carouselBox__block__img4{
width: 100%;
}

.infoBlock__carouselBox__but4{
  padding: 20px;
  font-weight: 400;
  text-transform: uppercase;
  cursor: pointer;
  transition: all .2s ease;
}

.infoBlock__carouselBox__block4__but4{
  display: flex;
  justify-content: center;
  padding: 10px;
  margin:  30px;
  background-color: orange;
  border-radius: 30px;
  width: 100px;
  justify-content: center;
}



.arrow:before{
  content:'';
  width: 0px;
  height: 0px;
  border: 30px solid transparent; 
  border-top-color: #bad9c7;
  display: inline-block;
  -webkit-transform: translate(-30px, -50px);
}

.arrow.left{
  transform: rotate(90deg) translate(0px, 25px);
  -webkit-transform: rotate(90deg) translate(0px, 25px);
  -moz-transform: rotate(90deg) translate(0px, 25px);
  -o-transform: rotate(90deg) translate(0px, 25px);
  -ms-transform: rotate(90deg) translate(0px, 25px);
}

.arrow.right{
  transform: rotate(270deg) translate(0px, 25px);
  -webkit-transform: rotate(270deg) translate(0px, 25px);
  -moz-transform: rotate(270deg) translate(0px, 25px);
  -o-transform: rotate(270deg) translate(0px, 25px);
  -ms-transform: rotate(270deg) translate(0px, 25px);
}

.infoBlock__carouselBox__but:hover{  
  padding: 20px;
  font-weight: 600;
  text-transform: uppercase;
  cursor: pointer;
  transition: all .2s ease;
}

.infoBlock__carouselBox__block__lst4{
  display: flex;
 justify-content: start;
}
