.feedback{
    color: #000000;
    max-width: auto;
    font-size: 20px;
    padding: 50px;
    background-color: #ffc400;
   }
   .feede {
    text-align: center;
    
   }

   .tut{
    text-align: center;
   }



  