/*.wrapper{
text-align: center;
justify-content: center;
flex-direction: column;   
}
.content{
flex-direction: column;
flex-wrap: wrap;
}

.form-group{
padding: 5px;  
}

.img{
height: 25%;
width: 25%;
}*/